.project__container {
    width: 750px; /* Use a percentage for responsive width */
}

.project__card {
    background-color: var(--container-color);
    border: 3px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.project__card:hover {
    background-color: var(--description-color);
}

.project__img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}

.project__name{
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.project__description {
    font-size: var(--small-font-size);
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active{
    background-color: var(--title-color) !important;
}

  /*=============== BREAKPOINTS ===============*/
  /* For large devices */
  @media screen and (max-width: 992px) {
    .project__container {
        width: initial;
    }
    
    .project__card {
        padding: 1.25rem 1.5rem;
    }
  }
